<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Autoscout24_listing_scraper.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Autoscout24_listing_scraper.Settings1>
            <setting name="discord_webhook" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="telegram_chat_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="telegram_bot_token" serializeAs="String">
                <value>0</value>
            </setting>
        </Autoscout24_listing_scraper.Settings1>
    </userSettings>
</configuration>